$background-color: #f1f2f6;
$content-background-color: #fff;
$primary-font-color: #333333;
$secondary-font-color: #fff;
$highlight-green: #2ECC71;
$button-danger: #F53B57;
$button-success: #05C46B;
$button-disabled: #F1F2F6;
$input-border-color: #B2BEC3;